/* REGRAS DAS FOLHAS DE ESTILO*/

@charset "UTF-8";

:root{
    --branco: #d3d3d3;
    --preto: #000000;
    --magenta: #ED2F5D;
    --azul: #3E4095;
    --verde: #277747;
    --amarelo: #b38b07;
 
}

/*ELEMENTOS DE BASE*/

*{
    margin: 0;
    padding: 0;

}

body{
    background: var(--white);
    font-family:  "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

/*Imagem do Cabeçalho da Pagina*/

header > picture > img {

    width: 100%;
}

/*Barra de Navegação*/

body>nav{
    align-items: center;
}

ul.menu{
    display:flex;
    list-style: none;
    background-color:var(--azul);
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.527)
}
ul>li.menu-item{
    color: #fcfcfc;
    margin-right: 20px;
    transition-duration: 0.5s;
    margin: 10px;
    position: relative;
    cursor: pointer;

}
ul>li.menu-item:hover> ul.submenu{
    transform: translateX(-50%) rotateX(0);
    transition: all 250ms ease-in;
    transition-timing-function: ease-out;
}
ul>li>a.menu-link{
    color: #fcfcfc;
    text-decoration:none;
    transition-duration: 0.5s;
}
ul>li>a.menu-link:hover{
    background-color: #4e4fa173;

}
ul.submenu{
    width: 95px;
    background-color:var(--azul);
    border-radius: 10px;
    list-style: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotateX(-90deg);
    transform-origin: top center;
    top: 100%;
}

ul>li>a.submenu-link{
    color: white;
    text-decoration: none;
    padding: 5px;

}
ul>li>a.submenu-link:hover{
    background-color: #4e4fa15d;

}

/*Banner da pagina principal*/

main > picture > img {
    width: 100%;
    margin: 50px 0px 0px 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.527);

}

/*Titulo do Carrossel de produtos*/

.titulo-carrossel{
    background-image: linear-gradient(to right, var(--magenta), transparent);
    color: var(--branco);
    margin-top: 50px;
    padding-left: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.527);

}
.titulo-meninos{
    background-image: linear-gradient(to right, var(--verde), transparent);
    color: var(--branco);
    margin-top: 50px;
    padding-left: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.527);

}
.titulo-bebes{
    background-image: linear-gradient(to right, var(--amarelo), transparent);
    color: var(--branco);
    margin-top: 50px;
    padding-left: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.527);
}
.titulo-black{
    background-image: linear-gradient(to right, var(--preto), transparent);
    color: var(--branco);
    margin-top: 50px;
    padding-left: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.527);

}

/*Definiçõs do box do produto*/

.item{
    margin-top: 25px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.527);
}
.box{
    padding-top: 50px;
}
.Descricao{
    text-align: center;
    background-color: var(--azul);
    color: var(--branco);
}
.Preco{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: var(--azul);
    color: var(--branco);

}
.botao-produto{
    width: 90%;
    background-color: var(--magenta);
    color: var(--branco);
    padding: 10px;
    margin: 20px 5px;
    border: 0.5px solid black;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.527);
}
.botao-produto:hover{
    background-color: #ed2f5ecb;
}
/*Formatação da pagina Sobre Nós */
div>p{
    text-align: justify;
    font-size: 1,5em;
    padding: 30px 30px 0px 10px;
}
div>ul>li{
    padding: 10px;   
}
div>ul>li>a{
    padding: 10px;
    text-decoration: none;
    color: #000000;
}
div>ul>li>a:hover{
    color: var(--verde);
}
div>iframe{
    padding: 30px 0px 30px 15px;
}
/*Rodapé da Página*/

footer{
    background-color: var(--preto);
    color: white;
    text-align: center;
    display:flex;
    align-items: center;
}
footer>div>nav{
    width: 100%;
    padding: 30px 15px 15px 190px;
}
footer>div>nav>a{
    font-size: 50px;
    text-decoration: none;
    color: var(--branco);
    padding-left: 50px;
}
footer>div>nav>a:hover{
    color:var(--amarelo)
}
div.creditos{
    padding: 30px 0px 30px 500px;
}
h2.dev{
    font-size: 25px;

}
a.devs{
    text-decoration: none;
    color: var(--branco);
    font-size: 20px;
}
a.devs:hover{
    color: var(--verde);
}
