/* REGRAS DAS FOLHAS DE ESTILO*/

@charset "UTF-8";

:root{
    --branco: #fff;
    --preto: #000000;
    --magenta: #ED2F5D;
    --azul: #3E4095;
    --verde: #277747;
    --amarelo: #b38b07;
 
}

/*ELEMENTOS DE BASE*/

*{
    margin: 0;
    padding: 0;

}

body{
    background: var(--white);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*Imagem do Cabeçalho da Pagina*/

header > picture > img {

    width: 100%;
}

/*Barra de Navegação*/

body>nav{
    align-items: center;
    font-size: 20px;
}

ul.menu{
    display:flex;
    list-style: none;
    background-color:var(--azul);
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.1);
}
ul>li.menu-item{
    color: #fff;
    margin-right: 20px;
    transition-duration: 0.5s;
    margin: 10px;
    position: relative;
    cursor: pointer;

}
ul>li.menu-item:hover> ul.submenu{
    transform: translateX(-50%) rotateX(0);
    transition: all 250ms ease-in;
    transition-timing-function: ease-out;
}
ul>li>a.menu-link{
    color: #fff;
    text-decoration:none;
    transition-duration: 0.5s;
}
ul>li>a.menu-link:hover{
    background-color: #4e4fa173;
}

ul.submenu{
    width: 90px;
    background-color:var(--azul);
    border-radius: 10px;
    list-style: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotateX(-90deg);
    transform-origin: top center;
    top: 100%;
}

ul>li>a.submenu-link{
    color: white;
    text-decoration: none;
    padding: 5px;

}
ul>li.submenu-item:hover{
    width: 90px;
    background-color: var(--magenta);
    padding: 5px;
    border-radius: 15px;
}

/*Banner da pagina principal*/

main > picture > img {
    width: 100%;
    margin: 30px 0px 0px 0px;
    box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.1);

}

/*Titulo do Carrossel de produtos*/

.titulo-carrossel{
    height: auto;
    background-image: linear-gradient(to right, var(--magenta), transparent);
    margin-top: 30px;
    padding: 10px 20px;
    box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.1);

}
.titulo-meninos{
    height: auto;
    background-image: linear-gradient(to right, var(--verde), transparent);
    margin-top: 30px;
    padding: 10px 20px;
    box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.1);

}
.titulo-bebes{
    height: auto;
    background-image: linear-gradient(to right, var(--amarelo), transparent);
    margin-top: 30px;
    padding: 10px 20px;
    box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.1);
}
.titulo-black{
    height: auto;
    background-image: linear-gradient(to right, var(--preto), transparent);
    color: var(--branco);
    margin-top: 30px;
    padding: 10px 20px;
    box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.1);

}

/*Definiçõs do box do produto*/

.item{
    position: relative;
    /* height: 350px; */
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.1);
}
.box{
    width: 85%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.Descricao{
    font-size: 12px;
    text-align: center;

}
.Preco{
    margin-top: 5px;
    font-size: 24px;
    color: var(--verde);
}
.botao-produto{
    width: 90%;
    background-color: var(--preto);
    color: #fff;
    padding: 10px;
    margin: 10px 0px;
    border: 0.5px solid black;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.527);
    font-size: 18px;
    font-weight: bolder;
}
.botao-produto:hover{
    background-color: #ed2f5ec0;
    color: #000000;
}
/*Formatação da pagina Sobre Nós */
div>p{
    text-align: justify;
    font-size: 1,5em;
    padding: 30px 10px 30px 10px;
}
div ul{
    margin-top: 30px;
}
div>ul>li{
    padding: 10px; 
    font-size: 25px;  
}
div>iframe{
    padding: 30px 10px 30px 15px;
}
section{
    height: 450px;
    padding: 0px px 70px 15px;
}
section h2{
    width: 60%;
    margin: 30px 10px;
    font-size: 20px;
}
.email_text {
    width: 100%;
    margin: 30px 10px;
    text-align: center;
}
.email-bt {
    width: 60%;
    float: left;
    font-size: 18px;
    color: #393838;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 0px;
    border: 1px solid #000 !important;
}
.menssage-bt {
    width: 60%;
    float: left;
    font-size: 18px;
    color: #393838;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 0px;
    border: 1px solid #000 !important;
}
.send_btn {
    margin: 30px 15px;
    width: 50%;
}
.send_btn a {
    width: 90%;
    text-decoration: none;
    background-color: var(--preto);
    color: #fff;
    padding: 10px;
    margin: 10px 0px;
    border: 0.5px solid black;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.527);
    font-size: 18px;
    font-weight: bolder;
}
.send_btn a:hover {
    color: #000;
    background-color: var(--magenta);
}
/*Rodapé da Página*/

footer{
    background-color: var(--preto);
    color: white;
    text-align: center;
    align-content: center;
}
footer div picture img{
    padding-top: 30px;
    height: 20%;
    width: 20%;
}
footer nav {
    position: relative;
    padding-top: 30px;
    
}
footer nav a{
    font-size: 3em;
    padding-right: 25px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #272727;
}
footer nav a:hover{
    color: #000;
    transition: 0s ease-out;
 }
 footer nav a::before{
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow:hidden;
    transition: 0.3s ease-in-out;
}
nav a.insta::before{
    content:"\f16d";
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #dc2743;
}
nav a.whats::before{
    content: "\f232";
    color: #a4c639 ;
    border-bottom: 4px solid #a4c639 ;
}
nav a.face::before{
    content: "\f082";
    color: #1DA1F2;
    border-bottom: 4px solid #1DA1F2;
}
nav a.email::before{
    content: "\f0e0";
    color: #0072c6 ;
    border-bottom: 4px solid #0072c6 ;
}
nav a.mapa::before{
    content: "\f5a0";
    color: #FF0000;
    border-bottom: 4px solid #FF0000;

}
nav a:hover::before{
    height: 100%;
}

div.creditos{
    padding: 30px 0px;
}
h2.dev{
    font-size: 25px;
    dec

}

a.devs{
    text-decoration: none;
    color:var(--branco);
    font-size: 20px;
}
a.devs:hover{
    color: var(--verde);
}
