
@media screen and (max-width:500px){
    footer>div>nav>a{
        font-size: 2em;
        padding-right: 10px;
    }
    footer h2.dev{
        font-size: 25px;
    }
    footer a.devs{
        font-size: 20px;
    }
}
    @media screen and (max-width:700px){
        footer>div>nav>a{
            font-size: 2em;
            padding-right: 10px;
        }
        h2.dev{
            font-size: 25px;
        }
        a.devs{
            font-size: 20px;
        }
}
@media screen and (max-width:800px){
    footer>div>nav>a{
        font-size: 2em;
        padding-right: 10px;
    }
    h2.dev{
        font-size: 30px;
    }
    a.devs{
        font-size: 25px;
    }
}